@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lora:wght@500&family=Raleway:ital,wght@0,200;0,500;1,100;1,600&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@media only screen and(max-width:700px) {
    nav ul{
        width: 100%;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    nav ur li a{
        color: brown;
    }
}



*{
    box-sizing: border-box;
  font-family:Raleway


}html,body{
    margin: 0;
    padding: 0;
    
}

 .nav ul{
    margin: 0;
}

.nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    
}
/* nav color and paddings*/
.nav a{
    display: inline-block;
    padding: .5em;
    color: brown; 
    text-decoration: none;
    text-align: center;
    
}

.main-nav{
    text-align:end;
    font-size: 1.1em;
    font-weight: bolder;
    
}

.main-nav{
    padding: 0 5%;
}
/* nav hover and color*/
.nav a:hover{
    background-color: rgb(160, 205, 226);
}
/* navs bar postion at the top*/
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    text-align: end;
}



/* website background picture*/
.main-header{
    background-image: url("images/background.jpeg");
    background-size: cover;
    padding: 200px;

}

.content-section{
    margin-top: 50px;
}
/* paragraphs margin and padding*/
p{
    max-width: 900px;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    margin-top: 30px;

}

    /*FEATURES*/
    .container-fluid{
        background-color: rgb(205, 240, 82);
    }
    .myvid1{
        background-color: gray;
    }
    .myvid2{
        background-color: gray;
    }
    .myvid3{
        background-color: gray;
    }


    /*SEARCH BUTTON*/
.wrapper{
    max-width: 450px;
    margin: 150px auto;
}
.wrapper .search-input{
    background-color: aqua;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px;
}
.search-input input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0px 60px 0px 30px;
    font-size: 18px;
}
  
.search-input .icon{
    height:55px;
    width: 55px;
    line-height: 55px;
    position: absolute;
    top: 0;
    right:0 ;
    text-align: center;
    font-size: 20px;
    color:blue;
    cursor: pointer;
}
.search-input .auto-com{
    padding:10px 8px;
    max-height: 280px;
    overflow-y:auto;
}
.autocom-box li{
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: pointer;
    border-radius: 3px;
    display:none

}
.autocom-box li:hover{
    background: greenyellow;

   
}
.navbar-light {
    background-color: aqua;
}

/*footer*/
.myclass  {
    color: brown;
    background-color:rgb(220, 235, 135);
    box-shadow: 1px;
    margin-top: 150px;
    
    
    
}
.myclass h4{
    text-align: left;
    padding-left: 30px;
    padding-top: 15px;
    box-shadow: 1px;
    
}
.myclass li{
    list-style: none;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: left;
}
.mylinks li{
    list-style: none;
    margin-top: 2px;
    margin-bottom: 2px;
}
.contact{
    margin-top: -20px;
    margin-bottom: -20px;
}



ion-icon{
    background-color: white;
    
}
#youtube{
    color: red;


}autocom-box li{
        list-style: none;
        padding: 8px 12px;
        width: 100%;
        cursor: pointer;
        border-radius: 3px;
        display:none
    }

    .autocom-box li:hover{
        background: greenyellow;
    
       
    }
    .navbar-light {
        background-color: aqua;
    }

        /* About Us*/

.box{
    background-image: url("pictures/planting-3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 50px;
   
}


.p-3{
    height: 450px;
    background-color: rgb(205, 240, 82);
    text-align: center;
    border-radius: 15px;
    
}

.p-3 h4{
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 5px;
    

}
.myform{
    margin-top: 200px;
    margin-bottom: 200px;
    position: relative;
}
/*DATABASE*/
.mytable{
    position: relative;
    margin-bottom: 200px;
}
h3{
    margin-bottom:200px ;
    text-align:center;
    padding-bottom: 100px;

}
.database{
    margin-bottom: 100px;
    padding-bottom: 50px;
}

